@media screen and (min-width: 700px) {
  /**********************************
    MAIN
  **********************************/

  h2 {
    font-size: 40px
  }

  /**********************************
    HEADER
  **********************************/

  .logo {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 5%;
  }

  .logo img {
    max-width: 70%;
    max-height: 70%;
    padding: 0;
  }

  nav {
    text-align: center;
    position: fixed;
    right: 120px;
    top: 50px;
    max-width: 940px;
  }

  nav li {
    display: inline-block;
  }

  /**********************************
    BODY
  **********************************/

  .body{
    margin-top: 100px;
    font-size: 20px;
  }

  .about p {
    margin-right: 50%;
  }

  .about {
    background-image: url(../img/girl-dog-laptop.png);
    background-repeat: no-repeat;
    background-position: 95% 360px;
  }

  .portfolio p {
    margin-left: 50%;
  }

  .portfolio h2 {
    margin-top: 50px;
  }

  .q-less-web img {
    float: left;
    max-width: 40%;
    max-height: 40%;
  }

  .q-less-web p {
    margin-top: 20px;
  }

  .q-less-app {
    margin-top: 90px;
  }

  .q-less-app p {
    margin-top: 70px;
  }

  .q-less-app img {
    float: left;
    margin: 0 8%;
    max-width: 40%;
    max-height: 40%;
  }

  .aprenda {
    margin-top: 90px;
  }

  .aprenda p {
    margin-top: 30px;
  }
}

/**********************************
  FOOTER
**********************************/
