@media screen and (min-width: 700px) {
  /**********************************
    MAIN
  **********************************/

  h2 {
    font-size: 40px
  }

  /**********************************
    HEADER
  **********************************/

  .logo {
    max-width: 1000px;
    margin: 0 auto;
    padding-left: 5%;
  }

  .logo img {
    max-width: 70%;
    max-height: 70%;
    padding: 0;
  }

  nav {
    text-align: center;
    position: fixed;
    right: 120px;
    top: 50px;
    max-width: 940px;
  }

  nav li {
    display: inline-block;
  }

  /**********************************
    BODY
  **********************************/

  .body {
    font-size: 20px;
  }

  .about p {
    margin-right: 50%;
  }

  .about {
    background-image: url(../img/girl-dog-laptop.png);
    background-repeat: no-repeat;
    background-position: 85% 180px;
  }

  .portfolio-items p,
  .portfolio-items a {
    margin-left: 50%;
  }


  .q-less,
  .aprenda {
    margin-top: 90px;
  }

  .q-less img,
  .aprenda img {
    float: left;
    max-width: 40%;
    max-height: 40%;
  }

  .q-less img {
    margin: 0 8%;
  }

  .contact {
    margin-top: 90px;
  }

/**********************************
  FOOTER
**********************************/
